@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: Outfit;
}

.active hr {
  @apply block;
}

::-webkit-scrollbar {
  @apply hidden;
}

@media (max-width: 740px) {
  .active p {
    @apply text-white bg-blue-600;
  }
}
* {
  cursor: default !important;
}

/* Allow the pointer (hand) for buttons and links */
a,
button,
.cursor-pointer {
  cursor: pointer !important;
}

/* Allow the I-beam ONLY where it belongs (inputs/text) */
input,
textarea,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  cursor: auto;
}
